body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: azure;
  max-width: 1200px;
  margin: 1em;
}

a {
  color: azure;
}

.backlink {
  background-color: orange;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem;
}

details {
  max-width: 500px;
  border: 1px solid;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

summary {
  list-style: none; /* Remove default arrow */
  cursor: pointer;
  position: relative;
}

summary::before {
  position: absolute;
  right: 0;
  content: "▶"; /* Closed arrow */
  font-size: 1.2em;
  margin-right: 8px;
  display: inline-block;
  rotate: 90deg; /* Rotates the arrow */
  transition: 0.3s ease;
}

details[open] summary::before {
  content: "▶"; /* Open arrow */
  rotate: -90deg; /* Rotates the arrow */
}

@media screen and (min-width: 900px) {
  body {
    margin: auto;
  }
}
